[submodule "modules/cc-regex"]
	path = modules/cc-regex
	url = https://github.com/rcsb/cc-regex.git
[submodule "modules/cpp-cif-file"]
	path = modules/cpp-cif-file
	url = https://github.com/rcsb/cpp-cif-file.git
[submodule "modules/cpp-cif-file-util"]
	path = modules/cpp-cif-file-util
	url = https://github.com/rcsb/cpp-cif-file-util.git
[submodule "modules/cpp-cif-parser"]
	path = modules/cpp-cif-parser
	url = https://github.com/rcsb/cpp-cif-parser.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = https://github.com/rcsb/cpp-common.git
[submodule "modules/cpp-dict-obj-file"]
	path = modules/cpp-dict-obj-file
	url = https://github.com/rcsb/cpp-dict-obj-file.git
[submodule "modules/cpp-tables"]
	path = modules/cpp-tables
	url = https://github.com/rcsb/cpp-tables.git
[submodule "modules/pybind11"]
	path = modules/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "modules/pybind11_2_12_1"]
	path = modules/pybind11_2_12_1
	url = https://github.com/pybind/pybind11.git
