#
# File: py-mmcif/MANIFEST.in
#
include CMakeLists.txt
include HISTORY.txt
include requirements.txt
include requirements-doc.txt
include requirements-test.txt
include modules/cc-regex/include/*
include modules/cc-regex/src/*
include modules/cpp-*/include/*.h
include modules/cpp-*/src/*.C
include modules/cpp-*/src/*.l
include modules/cpp-*/src/*.y
include modules/cpp-*/src/*.cpp
graft modules/pybind11
graft modules/pybind11_2_6_3_dev1
#
