# skip these methods  -
#
-class CharEqualTo
-function ITTable::RebuildIndex
-function ITTable::RebuildIndices
-function CharLess::GetCompareType
-function CharEqualTo::GetCompareType
-function StringLess::GetCompareType
-function ISTable::RebuildIndices
-function ISTable::UpdateIndex
#
# From Rosetta
-class std::__bit_reference
-class std::__bit_const_reference
# Missing members on Linux+Clang
-function std::_Bit_iterator::_M_const_cast
-function std::_Bit_const_iterator::_M_const_cast
# Mac specifics: ld: illegal text reloc in '__Z16bind_std_sstreamRNSt3__18functionIFRN8pybind116moduleERKNS_12basic_stringIcNS_11char_traitsIcEENS_9allocatorIcEEEEEEE' to '__ZNSt3__19basic_iosIcNS_11char_traitsIcEEE5imbueERKNS_6localeE' for architecture x86_64
# -function std::basic_ios::widen
# -function std::basic_ios::narrow
# -function std::basic_ios::imbue
# -function std::basic_ios::fill
# -function std::basic_ios::rdbuf
# -function std::basic_ios::tie
-class std::basic_ios
#-class std::basic_istream
#-class std::basic_ostream
-function std::basic_istream::gcount

-function ISTable::RebuildIndex
-function ITTable::FillColumn
-function ITTable::UpdateCell
-function ITTable::ClearColumn
-function ITTable::GetDataType
-function ITTable::DeleteColumn
-function ITTable::InsertColumn
-function ITTable::AppendToColumn
-function ITTable::GetRow
-function ITTable::SetFlags
-function ITTable::AddColumn
-function ITTable::GetColumn
-function ITTable::operator()
#
# In your Binder config file add line like this:
# this will disable bindings generation for all std:: classes
# -namespace std
# this will ask Binder to include stl_binders.hpp in all generated files
+include "pybind11/stl.h"
# this will instruct Binder to not bind std::map and std::vector directly but instead
#  call external functions binder::vector_binder and binder::map_binder (located in stl_binders.hpp)
#+binder std::vector binder::vector_binder
#+binder std::map    binder::map_binder
#
